body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color:#ff7018;
	position: absolute;
	font-family: Verdana;
}

.backgroundImage{
	position: absolute;
	height: 85%;
	margin-top: 70px;
	width: 100%;
	background-image: url(../Images/Bergen_brygge.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.content{
	color: black;
	height: 32%;
	width: 32%;
	margin: auto;
	margin-top: 15%;
	background: rgba(255,255,255,0.3);
}

.content h2
{
	text-align: center;
	color: black;
	padding-top: 2%;
	font-size: 30px;
}

.content p
{
	color: black;
	font-size: 20px;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;

}

footer{
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color:#ff7018;
	position: absolute;
}

#kart{
  height: 85%;
  width: 90%;
  margin: auto;

}

#leftArrow{
	left: 5%;
	margin-top: 20%;
	position: absolute;
	opacity: 0.8;
	cursor: pointer;

}

#rightArrow{
	right: 5%;
	margin-top: 20%;
	position: absolute;
	opacity: 0.8;
  cursor: pointer;
}