body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color:#ff7018;
	font-family: Verdana;
	position: absolute;
}

.backgroundImage{
	position: absolute;
	height: 85%;
	margin-top: 70px;
	width: 100%;
	background-image: url(../Images/Bergen_by_night.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.content{
	color: black;
	height: 350%;
	width: 70%;
	margin: auto;
	margin-top: 2%;
	background: rgba(255,255,255,0.3);
}

.content h1
{
	text-align: center;
	color: black;
	font-size: 40px;
	padding-top: 4%;
}

.content h3
{
	color: black;
	font-size: 20px;
	margin-left: 5%;
}

.content p
{
	color: black;
	font-size: 16px;
	margin-left: 5%;
	margin-right: 5%;

}

footer{
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color:#ff7018;
	position: absolute;
}

#kart{
  height: 85%;
  width: 90%;
  margin: auto;

}