body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color:#ff7018;
	font-family: Verdana;
	position: absolute;
}

.backgroundImage{
	position: absolute;
	height: 85%;
	margin-top: 70px;
	background-color: gray	;
	width: 100%;
	background-image: url(../Images/Fisketorget_Bergen.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.content{
	color: black;
	height: 100%;
	min-height: 630px;
	width: 80%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 200px;
	background-color: white;
	background: rgba(255,255,255,0.6);
	padding: 10px;
}

.content h2
{
	text-align: center;
	color: black;
	font-size: 40px;
}

.content p
{
	color: black;
	font-size: 20px;
	margin-left: 2%;
	margin-right: 2%;
}

.imgen{
	margin-left: 10px;
	margin-right: 10px;
	max-height: 20%;
	max-width: 25%
}

.imgto{
	margin-left: 10px;
	margin-right: 10px;
	max-height: 30%;
	max-width: 35%
}

footer{
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color:#ff7018;
	position: absolute;
}

#kart{
  height: 85%;
  width: 90%;
  margin: auto;

}
#rests{
	overflow:auto;
	margin: auto;
	height: 100%;
	min-height: 40%;
}
#knappene{
	margin-left: 45%;
}
