body{
	margin: 0;
	height: 100%;
	width: 100%;
	background-color:#ff7018;
	font-family: Verdana;
	position: absolute;
}

.backgroundImage{
	position: absolute;
	height: 85%;
	margin-top: 70px;
	background-color: gray	;
	width: 100%;
	background-image: url(../Images/Fisketorget_Bergen.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.content{
	color: black;
	height: 100%;
	width: 80%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 10%;
	background-color: white;
	background: rgba(255,255,255,0.6);
	padding: 10px;
}

.content  img
{
	width:10%;
	height: 10%;
}

.content h2
{
	text-align: center;
	color: black;
	font-size: 40px;
}

.content p
{
	color: black;
	font-size: 20px;
	margin-left: 2%;
	margin-right: 2%;
}

@media screen and (max-width:1024px){
.imga{
	margin-left: 150px;
	}

	.imgen{
		height: 100px;
		width: 150px;
	}
	.imgto{
		height: 200px;
		width: 300px;
	}

	.content > img{
		display: inline;
		margin: 10px;
	}
}

@media screen and (max-width:724px){
	.imga{
		margin-left: 100px;
	}
	.imgen{
		height: 50px;
		width: 150px;
	}
	.imgto{
		height: 150px;
		width: 200px;
	}
	.content img{
		display: inline;
		margin: 5px;
	}
}


footer{
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color:#ff7018;
	position: absolute;
}

#kart{
  height: 85%;
  width: 90%;
  margin: auto;

}
#rests{
	overflow:auto;
	margin: auto;
	height: 100%;
}
#knappene{
	margin-left: 45%;
}
