
body
{
	height: 100%;
	width:100%;
	margin:0px;
	position: absolute;
}

.logo
{
	width:15%;
	height:100px;
	background-color: red;
	float: left;
}

.DropDown
{
	width: 85%;
	height: 15%;
	background-color: gray;
	float: right;
}

.backgroundImage
{
	width: 100%;
	height: 650px;
	background-color: black;
}

.content
{
	width: 65%;
	height:500px;
	background-color: white;
	opacity: 0.3;
	position: relative;
	top: 100px;
	left: 250px
}

footer
{
	width: 100%;
	height: 50px;
	background-color:#ff7018;
}